p{
    color: red;
    width: 500px;
    border: 1px solid black;

    color: blueviolet;
}
h2{ color: blue;

}

body{

    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    color:black;
    padding-top: 70px;

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .menu-item {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: inline-block;
  }


  .menu-item:hover {
    background-color: #ddd;
    transition: all 0.4s ease-in-out;
  }

section{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
